body {
  margin: 0;
  padding: 0;
  background-image: url("./cork-board.jpg");
}
.title {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 5em;
  border-bottom: 5px solid black;
  margin-bottom: 25px;
}

.checked {
  text-decoration: line-through;
  background-color: orange;
}

.container {
  background: white;
  width: 650px;
  margin: 50px auto;
  padding: 20px 50px;
  min-height: 650px;
}

.row1 #user-input {
  margin-top: 25px;
  width: 75%;
  border: none;
  border-bottom: 3px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}
#enter {
  width: 18%;
  background: #176ccd;
  color: snow;
  margin-left: 15px;
  border: 1px solid #176ccd;
  border-radius: 5px;
  padding: 5px 10px;
}

#ul {
  list-style-type: circle;
  padding-left: 0;
  cursor: pointer;
}

li {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #fee2bd;
}

li > button {
  float: right;
  cursor: pointer;
  background: none;
  border: none;
  color: red;
  font-weight: bolder;
}
